<!DOCTYPE html>
<html>
<head>
    <title>Strava Club Activity Tracker</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="welcome-page">
    <a href="/admin" class="admin-link">⚙️ Admin</a>
    
    <div class="welcome-container">
        <img src="/static/images/logo.png" alt="Prague Running Crew" class="logo-image">
        <h1 class="welcome-title">Join the Prague Running Crew Activity Tracker App</h1>
        <p class="welcome-subtitle">
            Enrol via Strava, let us see your activities. If you are active enough, you can unlock the special discounts we have for you!   

            <br><br>
            

        <a href="/login" class="login-button">Connect with Strava</a>
    </div>
</body>
</html>